<div class="container">
    <div class="row">
        <form style="display: inline-flex;" [formGroup]="auctionForm" (ngSubmit)="saveDocument(auctionForm.value)">
            <div class="col-sm-2">
                <button class="btn btn-danger" type="submit" [disabled]="auctionForm.invalid">Add auction</button>
            </div>
            <div class="col-sm-2">
                <label>Name</label>
                <input type="text" [formControl]="name"/>
            </div>
            <div class="col-sm-2">
                <label>Amount</label>
                <input type="number" [formControl]="amount"/>
            </div>
            <div class="col-sm-2">
                <label>Minimal price</label>
                <input type="number" [formControl]="minPrice"/>
            </div>
            <div class="col-sm-2">
                <label>Buy now price</label>
                <input type="number" [formControl]="buyNowPrice"/>
            </div>
            <div class="col-sm-2">
                <label>Start price</label>
                <input type="number" [formControl]="price"/>
            </div>
        </form>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-6">
            <h1>Active Auctions</h1>
        </div>
        <div class="col-sm-10">
            <ul style="list-style-type: none">
                <li *ngFor="let auction of auctions">
                    <app-auction [auction]="auction" [refreshAuctions]="getAllAuctions"></app-auction>
                </li>
            </ul>
        </div>
    </div>
    <hr/>
</div>